<app-my-header></app-my-header>
<article class="flex">
  <h2>Список блюд</h2>
  <section class="flex">
    <button class="btn" (click)="adding()">Додати нове блюдо</button>
    <div *ngIf="add" class="flex card">
      <label
        >Назва
        <input class="card_input" type="text" id="a1" #InputAddDish />
      </label>
      <label
        >Вартість
        <input
          class="card_input"
          type="number"
          min="1"
          id="a2"
          #InputAddDishPrice
        />
      </label>

      <button
        class="btn"
        (click)="update(InputAddDish.value, InputAddDishPrice.value)"
      >
        Додати
      </button>
    </div>
  </section>
  <section class="flex flex-row flex-wrap">
    <div *ngFor="let dish of Dishings; index as i" class="flex card">
      <h3>{{ dish.name }}</h3>
      <p>Ціна = {{ dish.price }}</p>
      <div class="flex flex-row flex-wrap">
        <button class="btn" (click)="editDishtoggle(i)">Редагувати</button>
        <button class="btn btn-stop" (click)="deleteDishing(i)">
          Видалення
        </button>
      </div>
    </div>
  </section>
  <div *ngIf="edit" class="flex card">
    <label
      >Назва
      <input
        class="card_input"
        type="text"
        id="a"
        value="{{ dish.name }}"
        #InputDish
      />
    </label>
    <label
      >Вартість
      <input
        class="card_input"
        type="number"
        id="a"
        value="{{ dish.price }}"
        #InputDishPrice
      />
    </label>

    <button class="btn" (click)="update(InputDish.value, InputDishPrice.value)">
      Зберігти зміни
    </button>
  </div>
</article>
<router-outlet></router-outlet>
